<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WSLSessionManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <WSLSessionManager.Properties.Settings>
      <setting name="CommandExecutable" serializeAs="String">
        <value>C:\Windows\System32\bash.exe</value>
      </setting>
      <setting name="CommandArguments" serializeAs="String">
        <value>-c 'exec sudo runsshd'</value>
      </setting>
    </WSLSessionManager.Properties.Settings>
  </userSettings>
</configuration>
